/* MIX */
* {
  font-family: 'Roboto', sans-serif;
}
/* /MIX */

/* HEADER */

/* TOP HEADER */
.header-top {
  height: 70px;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  line-height: 50px;
  vertical-align: middle;
}
.logo-azienda-header img{
  width: 100%;
}
.nav-header-centrale li, .nav-header-destra li {
  text-decoration: none;
  display: inline-block;
  padding-right: 10px;
}
.nav-header-centrale li a, .nav-header-destra li a {
  color: black;
  font-weight: bold;
}
.nav-header-centrale li a i, .nav-header-destra li a i {
  margin-left: 5px;
}
.nav-header-centrale li a:hover, .nav-header-destra li a:hover {
  text-decoration: none;
  color: blue;
}
.nav-header-destra {
  text-align: right;
}
#bottone-speciale {
  border: 1px solid #247CFA;
  padding: 10px;
  border-radius: 3px;
  color: #247CFA;
}
#bottone-speciale:hover {
  color: #fff;
  background-color: #247CFA;
}
.hamburger {
  text-align: right;
  color: .form-hero h3
  font-size: 20px;
}
/* /TOP HEADER */

/* HERO */
.hero {
  margin-top:70px;
  padding: 35px 0;
  background-color: blue;
  color: #fff;
}
.jumbo h1 {
  font-size: 65px;
}
.jumbo p {
  font-size: 22px;
}
.form-hero {
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
.form-hero h3 {
  font-size: 30px;
}
.form-hero h3:nth-child(2) {
  color: #247CFA;
}
.altezza-cella {
  height: 45px;
}
.lunghezza-bottone {
  width: 100%;
  font-weight: bold;
}
.form-hero form button {
  margin-bottom: 5px;
}
.form-hero form p {
  margin-top: 10px;
}
/* /HERO */

/* /HEADER */

/* MAIN */

/* PRIMA SEZIONE */
.partnership {
  background-color: pink;
}
.logo-partnership {
  color: red;
}
/* /PRIMA SEZIONE */

/* SECONDA SEZIONE */
.vantaggi {
  background-color: green;
}
.spiegazione {
  color: yellow;
}
/* /SECONDA SEZIONE */

/* TERZA SEZIONE */
.slider {
  color: blue;
}
/* /TERZA SEZIONE */

/* QUARTA SEZIONE */
.features {
  background-color: red;
}
.feature-centrale {
  color: #fff;
}
/* /QUARTA SEZIONE */

/* QUINTA SEZIONE */
.around-the-world {
  background-color: blue;
  color: #fff;
}
.atw-destra {
  color: orange;
}
/* /QUINTA SEZIONE */

/* SESTA SEZIONE */
/* /SESTA SEZIONE */

/* FOOTER */
footer {
  color: black;
}

/* FOOTER-TOP */
.footer-top {
  background-color: yellow;
}
/* /FOOTER-TOP */

/* FOOTER-BOTTOM */
.footer-bottom {
  background-color: orange;
}
.socials {
  background-color: brown;
  color: #fff;
}
.lista {
  background-color: violet;
  color: yellow;
}
/* /FOOTER-BOTTOM */

/* /FOOTER */
