/* HEADER */

header {
  background-color: red;
}

/* TOP HEADER */

.logo-azienda-header {
  background-color: green;
}
.menu-header-destra {
  background-color: orange;
}
.menu-header-centro {
  background-color: yellow;
}

/* /TOP HEADER */

/* HERO */

.hero {
  background-color: blue;
}
.testo-hero {
  color: #fff;
}
.form-hero {
  background-color: gray;
}

/* /HERO */

/* /HEADER */

/* MAIN */

/* PRIMA SEZIONE */

.partnership {
  background-color: pink;
}
.logo-partnership {
  color: red;
}
/* /PRIMA SEZIONE */

/* SECONDA SEZIONE */

/* /SECONDA SEZIONE */
